.contact-container {
	margin: 20px;
	margin-left: 20px;
	position: relative;
	float: left;
	position: relative;
	width: 220px;
	height: 200px;
	border-radius: 5px;
}

.contact-container:hover {

}

.contact {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 200px;
	height: 200px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.contact img {
	width: 230px;
	height: 230px;
	border-radius: 5px;
}

.contact-label {
	text-shadow: 0px 0px 10px #000;
	position: absolute;
	bottom: 0;
	left: 0;
	color: #ffffff;
	width: 100%;
	text-align: center;
	font-size: 18px;
	padding-bottom: 5px;
}

#main-panel {
	height: 100%;
}

#chat-window-body {
	position: absolute;
	top: 0;
	bottom: 41px;
	width: 100%;
	background-color: white;
}

#chat-window-footer {
	position: absolute;
	height: 45px;
	bottom: 0;
	width: 100%;
	background-color: #EEE;
	border-top: #D2D2D2 solid 1px;
	box-sizing: border-box;
}

#app-navigation {
	overflow: auto;
}

#app-navigation li {
	padding: 10px;
}

.conv-list-active {
	background-color: #dadada !important;
}

.chat-conversation-list-mini {
	display: none;
	float: left;
}

.conv-list-item {
	height: 60px;
}

#chat-msg-input {
	margin-right: 90px;
}

#chat-msg-input input {
	width: 100%;
}

.chat-msg-button {
	width: 32px;
	height: 32px;
	float: right;
	margin-right: 10px;
}

.chat-msg-button button {
	width: 32px;
	height: 32px;
}

.chat-msg-button img{
	 width: 16px;
	 height: 16px;
}

#chat-msg-form {
	width: 100%;
}

.conv-new-msg {
	border-radius: 50%;
	width: 15px;
	height: 15px;
	background-color: #008000;
	display: block;
	float: right;
	margin: 0;
	padding: 0;
	margin-top: 4px;
	display: none;
}

.chat-msg-container {
	width: 100%;
	border-top: 1px solid #EEEEEE;
	float: left;
	margin-top: 10px;
}

.chat-msg-time {
	color: #383C43;
	float: right;
	padding-right: 20px;
}

.chat-msg {
	float: left;
}

.chat-msg div,.chat-msg p {
	float: left;
}

.chat-msg p {
	margin-left: 10px;
	word-wrap: break-word;
	white-space: pre-line;
}

#chat-window-msgs {
	overflow-y: auto;
	max-height: 100%;
	width: 100%;
	bottom: 0;
	position: absolute;
}

#conv-list-new-conv {
	height: 44px !important;
}

#container {
	position: absolute;
	height: 100%;
	width: 100%;
	padding-left: 300px;
}

.tagger-input {
	float: left;
	margin-right: 0px;
	height: 34px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	margin-top: 0px;
	width: 190px;
	background-color: #fff;
}

.tagger-button {
	float: left;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	height: 33px;
	border-radius: 0px;
}

.tagger-button-right {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.right {
	float: right;
}

.left {
	float: left;
}

.icon-20 {
	width: 20px;
}

.heightInvite {
	height: 100px;
}

#invite-container {
	margin-top: 10px;
}

.loading {
	content: "" !important;
	height: 100%;
}

#app-content {
	position: relative;
}

.triangle-bottom {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #000000;
}

.backend {
	padding: 10px;
}

.backend-selected {
	background-color: #dadada;
}

#app-settings-content {
	padding: 0px !important;
}

.msg-avatar-container img {
	width: 32px;
	height: 32px;
}

.chat-msg a {
	border-bottom:1px dotted;
	clear:left;
}

.conv-list-item img {
	width: 32px;
	height: 32px;
}

.icon-32 {
	width: 32px
}

#app-header-info {
	height: 44px;
	padding: 10px;
	background-color: #EEEEEE;
	text-align: center;
	color: #333;
	font-weight: bold;
	font-size: 1.2em;
	position: absolute;
	width: 100%;
	z-index: 100;
}

.content-info {
	position: absolute;
	top: 44px;
}

.msg-avatar-container {
	width: 39px;
	height: 32px;
	position: relative;
}

.msg-avatar-container div,.msg-avatar-container img {
	right: 0;
}

.avatar-list-container {
	width: 39px;
	height: 32px;
	position: relative;
}

.avatar-list-container div,.avatar-list-container img {
	right: 0;
}
#emoji-container {
	position: absolute;
	height: 190px;
	width: 300px;
	right: 20px;
	bottom: 50px;
	background-color: #eeeeee;
	border-radius: 5px;
	border: 1px solid #D2D2D2;
	padding: 10px;
	overflow:auto;
}
#emoji-list {
   	-webkit-column-count: 3;
   	-moz-column-count: 3;
	column-count: 3;
}
#emoji-list li {
	display: inline-block; 
}
#emoji-search {
	width:265px;
}
.chat-msg-msg video, .chat-msg-msg img, .chat-msg-msg p iframe, .chat-msg-msg a img {
	display:block;
}
