/* Contents
 * 2.  Panels
 * 2.1 Loading Panel
 * 2.2 Empty Panel
 * 2.3 Chat Panel
 * 2.3.2 Chat Panel Body
 * 2.3.3 Chat Panel Footer
 * 3. Conversation list
 * 4. Buttons, forms, inputs
 * 5 Chat msgs 
*/

/* 2. Panels */
.panel{
        display:none;
}
/* 2.1 Loading Panel */
#loading-panel{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
/* 2.2 Empty Panel */
#empty-window{
    height:100%;
    width:100%;
    float:left;
    position:relative;
}

.contact {
    margin:20px;
    margin-left:20px;
    position:relative;
    float:left;
    background-size:200px 200px;
    position:relative;
    width: 200px;   
    height: 200px;
    border-radius: 5px;
    border: 1px solid #CCC;
}
.contact:hover{
    border: 1px solid #1C2C43;
}
.contact label{
    text-shadow: 0px 0px 10px #000;
    position:absolute;
    bottom:0;
    left:0;
    color:#ffffff;
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding-bottom: 5px;
}

/* 2.2 Chat Panel */
#main-panel{
    height:100%;
}
#chat-window{
    display:none;
     width:100%;
    height:100%;
    float:left;
        position:relative;

}
/* 2.2.2 Chat Panel Body */
#chat-window-body {
    position: absolute;
    top: 0;
    bottom:41px;
    width:100%;
    background-color:white;
}
/* 2.2.3 Chat Panel Footer */
#chat-window-footer {
    position: absolute;
    height: 40px;
    bottom: 0;
    width:100%;
    background-color:#F8F8F8;
    border-top:#AAAAAA solid 1px;
}

/* 3. Conversation List */
#app-navigation {
    overflow:auto;
}
#app-navigation li {
        padding: 10px;
     /*   height:70px !important;*/
}
.conv-list-active {
        background-color: #dadada;
}
.chat-conversation-list-mini{
        display:none;
          float:left;
}


/* 4. Buttons, forms, inputs*/
#chat-conv-new{
    text-align:center;        
    margin:0;
    padding:0 !important;
}
#chat-conv-new-button{
	margin-top:0px;
	margin-bottom:0px;
}
#chat-msg-input{
	width:80%;
}

#chat-msg-send{
	width:10%;	
}

#chat-leave{
	width:10%;
}

#chat-invite{
	width:10%;
}
.conv-new-msg {
	border-radius: 50%;
	width: 15px;
	height: 15px; 
    background-color:#008000;
	display:block;
	float:right;
	margin:0;
	padding:0;
	margin-top:4px;
	display:none;
}

/* 5 Chat msgs */
.chat-msg-container{
	width:100%;
	border-top:1px solid #EEEEEE;
	float:left;
	margin-top:10px;
}
.chat-msg-time{
	color:#383C43;
	float:right;
	padding-right:20px;
}
.chat-msg{
	float:left;
}
.chat-msg div, .chat-msg p{
	float:left;	
}
.chat-msg p{
	margin-left:10px;
	word-wrap: break-word;
    white-space: pre-line;
}
#chat-window-msgs{
	overflow-y:auto;
	max-height:100%;
	width:100%;
    bottom:0;
    position:absolute;
}

#conv-list-new-conv{
    border-bottom: 1px solid rgb(204, 204, 204);
    height:44px !important;
    padding-top:5px !important;
    position:relative;
}

#new-conv-form {
    padding:0px;
}

#new-conv-text{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    padding:10px;
}
#new-conv-text span, #new-conv-text div{
    float:left;
}
#new-conv-text div{
    /* ICON */
    width:32px;
}

#container{
    position: absolute;
    height: 100%;
    width: 100%;
    padding-left: 300px;
}

#new-conv-input{
    float:left;
    margin-right: 0px;
    height: 34px;
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
    margin-top: 0px;
    width:220px;
    background-color:#fff;
}
#new-conv-button{
    float:left;
    margin-left: 0px;
    margin-top: 0px;
    height: 33px;
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
}

.right{
    float:right;
}

.icon-32{
    width:32px;
    height:32px;
}