[submodule "ratchet"]
	path = server/vendor/cboden/ratchet
	url = git://github.com/cboden/Ratchet.git

[submodule "evenement"]
	path = server/vendor/evenement/evenement
	url = git://github.com/igorw/evenement.git

[submodule "EventDispatcher"]
	path = server/vendor/symfony/event-dispatcher/Symfony/Component/EventDispatcher
	url = git://github.com/symfony/EventDispatcher.git

[submodule "HttpFoundation"]
	path = server/vendor/symfony/http-foundation/Symfony/Component/HttpFoundation
	url = git://github.com/symfony/HttpFoundation.git
