language: php
php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm

env:
  - DB=sqlite BRANCH=master
  - DB=postgresql BRANCH=master
  - DB=mysql BRANCH=master


matrix:
  allow_failures:
    - php: hhvm

before_install:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"

install:
  - sudo apt-get -y install nodejs
  - npm install
  - grunt
  # install ocdev
  - sudo apt-get -y install python3-jinja2 python3-setuptools
  - sudo easy_install3 requests
  - sudo easy_install3 ocdev
  # set up postgresql
  - createuser -U travis -s oc_autotest
  # set up mysql
  - mysql -e 'create database oc_autotest;'
  - mysql -u root -e "CREATE USER 'oc_autotest'@'localhost';"
  - mysql -u root -e "grant all on oc_autotest.* to 'oc_autotest'@'localhost';"
  # install owncloud
  - cd ..
  - ocdev setup core --dir owncloud --branch master --no-history
  - mv chat owncloud/apps/chat
  - phpenv config-add owncloud/apps/chat/tests/travis/php.ini
  - cd owncloud
  - ocdev ci $DB
  - php -f console.php app:enable chat

before_script:
  - cd apps/chat
  - composer install

script:
  - grunt tests
