<phpunit bootstrap="lib/autoloader.php">
    <testsuites>
        <testsuite name="app">
            <directory>lib/app/</directory>
            <directory>lib/controller/</directory>
        </testsuite>
        <testsuite name="och">
            <directory>lib/lib/och/commands/</directory>
        </testsuite>
        <testsuite name="database">
            <directory>lib/db</directory>
        </testsuite>
    </testsuites>
</phpunit>
