.chat-msg-time {
	color: #adadad;
	float: right;
	padding-right: 20px;
}
.chat-msg p {
	 margin-left: 35px;
	 word-wrap: break-word;
	 white-space: pre-line;
	 font-size: 14px;
	 line-height: 1.6;
 }

.chat-msg a {
	border-bottom:1px dotted;
	clear:left;
}

.msg-avatar-container {
	float:left;
}